<a href="https://colab.research.google.com/github/parv-39/Aum_Basics/blob/main/Aum_Python_PracticeSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PRACTICE SET-1 (Basic Operation)**

In [ ]:
#add 2 numbers
a = int(input("Enter 1st number :- "))
b = int(input("Enter 2st number :- "))
print(f'the answer is {a+b}')


#divide
c = int(input("Enter 1st number :- "))
d = int(input("Enter 2st number :- "))
print(f'the answer is {a/b}')


#check variable
e = int(input("Enter a number :- "))
print(type(e))
f = float(input("Enter a number :- "))
print(type(f))
g = (input("Enter value :- "))
print(type(g))


#comparision
h = int(input("Enter a number :- "))
i = int(input("Enter a number :- "))
print("A is greater then B is :- ",h>i)


#average
j = int(input("Enter a number :- "))
k = int(input("Enter a number :- "))
print(f'The average of {j} and {k} are {(j+k)/2}')


#square
l = int(input("Enter a number :- "))
print(f'The square of {l} is {l**2}')

Enter a number :- 12
Enter a number :- 23
The average of 12 and 23 are 17.5
Enter a number :- 4
The square of 4 is 16

**PRACTICE SET-2 (String Manipulation)**

In [ ]:
#used to display name with good morning
a = input("Enter your name :- ")
print(f'Good Morning {a}')

#replace
b = '''Dear <|name|>,
You are selected,
<|Date|>'''
print(b.replace("<|name|>","Parv").replace("<|Date|>","3/8/2025"))

#find double space and relace with single space
c = "My name is KEVIN  SINGH"
print(c.replace("  "," "))

#format using escape sequence
d = "Good Morning,\nI am a student at VVP Engineering college,\nRajkot-360005"
print(d)

Dear Parv,
You are selected,
3/8/2025
My name is KEVIN SINGH
Good Morning,
I am a student at VVP Engineering college,
Rajkot-360005

**PRACTICE SET-3 (List & Tuple)**

In [ ]:
#LIST
l1 = ["Parv","Harsh","Jinesh","Ansh",False,20,545.34]
l1.append("Harry")
l2 = [1,34,62,2,6,11]
l2.sort() #for sorting
l1.insert(3,3333) #used to insert the elemnet at the specific index
l2.reverse() #used to reverse the list
l2.pop(3) #discards the element of specified index
l2.remove(11) #used to remove the particular elements
print(l2)
print(l1)

#Insert Fruits
fruits = []
f1 = input("Enter fruit name :-")
fruits.append(f1)
f2 = input("Enter fruit name :-")
fruits.append(f2)
f3 = input("Enter fruit name :-")
fruits.append(f3)
f4 = input("Enter fruit name :-")
fruits.append(f4)
f5 = input("Enter fruit name :-")
fruits.append(f5)
print(fruits)

# #Enter Marks and Sort it
marks = []
# f1 = int(input("Enter marks :-"))
# marks.append(f1)
# f2 = int(input("Enter marks2:-"))
# marks.append(f2)
# f3 = int(input("Enter marks3 :-"))
# marks.append(f3)
# f4 = int(input("Enter marks4 :-"))
# marks.append(f4)
# f5 = int(input("Enter marks5 :-"))
# marks.append(f5)
# marks.sort()
# print(marks)

# #loop
# x = int(input('Enter no of marks to enter in list'))
# for i in range(x):
#     y = int(input("Enter marks :- "))
#     marks.append(y)

# print(marks)


#sum of numbers from list
l2 = [1,34,62,2,6,11]
print(sum(l2))

#count
l3 = [1,0,0,3,1,0,0]
print(l3.count(0))



#TUPLE
a = (1,2,54,9)
print(a)
print(type(a))

no = a.count(9) #used to count the specfic element
print(no)
index_which = a.index(54) #used to find the index of the specific value
print(index_which)

116
4

**PRACTICE SET-4 (Set & Dictionaries)**

In [ ]:
#SET
set = {"apple","banana","cherry","apple","mango","banana"}
print(len(set))
# print(set) #no duplication

set1 = {"apple","banana","cherry","apple","mango",1,True}
print(set1) #1 and true are same

print(len(set1)) #used to know the length of the set

set.remove("mango") #used to remove the specified elements
print(set)


thisset = {"apple","banana","cherry"}
for x in thisset:
    print(x) #used to display the elements of set one by one


thisset1 = {"apple","banana","cherry"}
print("banana" in thisset1) #used to check the specific element
print("apple" not in thisset1) #used for cheking the value is not present


print(set1.union(thisset)) #used to find the union of 2 sets

#Dictionaries
mydict = {
    "Name" : ["Parth","Harsh","Krushil"],
    "Age" : 30,
    "City" : "San Fransico",
    "Country" : "USA"
}

print(mydict)
print(type(mydict))

x = mydict["Country"] #used to display the value of specified key
#or
# x = mydict.get("Country")
print(x)

y = mydict.keys() #display only keys
print(y)
z = mydict.values() #display only values
print(z)
next = mydict.items() #display key and value both
print(next)


mydict["Age"] = 20 #used to change the value
print(mydict)

langdict = {}

name = input("Enter your name : ")
lang = input("Enter your Favourite Language : ")
langdict.update({name : lang})

name = input("Enter your name : ")
lang = input("Enter your Favourite Language : ")
langdict.update({name : lang})

name = input("Enter your name : ")
lang = input("Enter your Favourite Language : ")
langdict.update({name : lang})
print(langdict)

4
{'mango', 1, 'apple', 'banana', 'cherry'}
5
{'banana', 'apple', 'cherry'}
banana
apple
cherry
True
False
{'mango', 1, 'apple', 'banana', 'cherry'}
{'Name': ['Parth', 'Harsh', 'Krushil'], 'Age': 30, 'City': 'San Fransico', 'Country': 'USA'}
<class 'dict'>
USA
dict_keys(['Name', 'Age', 'City', 'Country'])
dict_values([['Parth', 'Harsh', 'Krushil'], 30, 'San Fransico', 'USA'])
dict_items([('Name', ['Parth', 'Harsh', 'Krushil']), ('Age', 30), ('City', 'San Fransico'), ('Country', 'USA')])
{'Name': ['Parth', 'Harsh', 'Krushil'], 'Age': 20, 'City': 'San Fransico', 'Country': 'USA'}
Enter your name : P
Enter your Favourite Language : lang
Enter your name : r
Enter your Favourite Language : lang
Enter your name : t
Enter your Favourite Language : lang
{'P': 'lang', 'r': 'lang', 't': 'lang'}

**PRACTICE SET-5 (Conditinal Statement)**

In [ ]:
# #Greater of all
# def compare(a,b,c,d):
#   if(a>b and a>c and a>d):
#     print("A is greater than all other")
#   elif(b>a and b>c and b>d):
#     print("B is greater than all other")
#   elif(c>a and c>d and c>d):
#     print("C is greater than all other")
#   else:
#     print("D is greater than all other")

# a = int(input("Enter 1st number :- "))
# b = int(input("Enter 2st number :- "))
# c = int(input("Enter 3st number :- "))
# d = int(input("Enter 4st number :- "))
# compare(a,b,c,d)


#Pass or Fail
e = int(input("Enter Marks 1 :-"))
f = int(input("Enter Marks 2 :-"))
g = int(input("Enter Marks 3 :-"))
total_marks = (100*(e+f+g))/300
if(total_marks>40):
  print("Pass")
else:
  print("Fail")

#Spam of not
s1 = "Make lot of money"
s2 = "Subscribe this"
s3 = "Buy on"
s4 = "click this"
message = input("Enter your message :- ")
if((s1 in message),(s2 in message),(s3 in message),(s4 in message)):
  print("Spam")
else:
  print("Not Spam")

#username length
a1 = input("Enter your username")
if(len(a1)<10):
  print("Less then 10 chars")
else:
  print("Good")

Enter your usernameayushmandavisa
Good

**PRACTICE SET-6 (Loops)**

In [ ]:
# #Table
# x = int(input("Enter a number"))
# for i in range(1,11):
#   print(f'{x} x {i} = {x*i}')

# #greet to name 's'
# l = ["Rahul","Sachin","Sushant","Virat"]
# for name in l:
#   if name.startswith("S"):
#     print("Hello",name)
#   else:
#     print("No name starting")


# #number prime or not
# p1 = int(input("Enter the number"))
# for i in range(2,p1):
#   if(p1%i==0):
#     print("Not Prime")
#   else:
#     print("Prime")


#Pattern
# *
# **
# ***
n = int(input('enter number'))
for i in range(n):
  print("*"*(i+1))

n = int(input('enter number'))
for i in range(1,n+1):
  print(" "*(i-1),end="")
  print("*"*(i-1),end="")

enter number3
*
**
***

**PRACTICE SET-7 (Functions & Recursion)**

In [ ]:
# # #Greatest of 3
# def greatest(a,b,c):
#   if(a>b and a>c):
#     return A
#   elif(b>a and b>c):
#     return B
#   else:
#     return C

# A = int(input("Enter 1st number :- "))
# B = int(input("Enter 2st number :- "))
# C = int(input("Enter 3st number :- "))
# print(greatest(A,B,C))



# #Degree to Fahrenheit
# # C = 5*(F-32)/9
# #°C = 5/9(°F - 32).
# def cel_fah(c):
#   f = (c*(9/5))+32
#   return f
# c = int(input("Enter temperature in celcius :- "))
# print(cel_fah(c))


#factorial recurssion
def recur(n):
  if(n==0 or n==1):
    return 1
  else:
    return n * recur(n-1)

n = int(input("Enter the number :- "))
print(recur(n))

#print value in sameline
# print("a",end = "")
# print("b",end = "")
# print("c",end = "")
# print("d",end = "")

# #resusion of sum of 10 natural numbers
# def sum(n):
#   if(n==0):
#     return 0
#   else:
#     return n+sum(n-1)
# n = int(input("Enter a number"))

# sum(n)

#recursion for pattern

def patt(n):
  if(n==0):
    return 0
  else:
    print("*"*n)
    patt(n-1)

n = int(input("Enter a random number"))

patt(n)

Enter the number :- 5
2

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'

**PRACTICE SET-8 (FILE I/O)**

In [ ]:
#Read File
f = open("sample.txt","r")
data = f.read()
data1 = f.readlines( )
print(data)
f.close

#OR
#withopen
with open("sample.txt","r") as f3:
  data = f3.read()
  print(data)


#Write File
string = "Hey There,Student Here"
f1 = open("sample.txt","w") #replace the content from the file if present
f1.write(string)
f1.close


#Append File
string = "Hey There,Student Here"
f2 = open("sample.txt","a")
f2.write(string)
f2.close


#read from poem.txt
f4 = open("poem.txt","r")
data4 = f4.read()
if("twinkle" in data4):
  print("Twinkle is present")
else:
  print("Twinkle is not present")
f4.close()


#used to display tables
def generateTable(n):
    table=""
    for i in range(1,11):
        table+=f"{n} x {i} = {n*i}\n"

    with open(f"tables/table_{n}.txt","w") as f:
        f.write(table)


#used to replace the word from text file
with open("file.txt","r") as f:
    content = f.read()

contentNew = content.replace("donkey","#####")

with open("file.txt","w") as f:
    f.write(contentNew)


#copy the content from one file to other file
f8 = open("file.txt","r")
data = f8.read()
f9 = open("this_copy.txt","w")
f9.write(data)
f8.close()
f9.close()

#remove/clear all the content from file
f10 = open("file.txt","w")
f10.write("")
f10.close()

**PRACTICE SET-9 (OOP)**

In [ ]:
#create class of programer

class Programmer:
  company = "Microsoft"

  def __init__(self,name,salary,pincode):
    self.name = name
    self.salary = salary
    self.pincode = pincode


p = Programmer("Pranav Bhimani",120000,360005)
print(p.name,p.salary,p.pincode,p.company)
q = Programmer("Rishi Jalu",75000,360002)
print(q.name,q.salary,q.pincode,q.company)



#create a calculator

class Calculator:
  def __init__(self,n):
    self.n = n

  def square(self):
    print(f'The square of {self.n} is {self.n**2}')

  def cube(self):
    print(f'The cube of {self.n} is {self.n**3}')

  def squareroot(self):
    print(f'The square root of {self.n} is {self.n**0.5}')

  @staticmethod
  def greet(): #no need to give self
    print("Hello")

a = Calculator(4)
a.square()
a.cube()
a.squareroot()
a.greet()


#trainbooking/resevation
from random import randint

class Train:
  def __init__(self,TrainNo):
    self.TrainNo = TrainNo

  def book(self,to,fro):
    print(f'The ticket is booked in Train no {self.TrainNo} from {fro} to {to}.')

  def status(self):
    print(f'The train no: {self.TrainNo} is running on time.')

  def getFare(self,to,fro):
    print(f'Ticket fare for {self.TrainNo} from {fro} to {to} is {randint(222,5555)}.')

b = Train(23557)
b.book("Mumbai","Delhi")
b.status()
b.getFare("Mumbai","Delhi")

Pranav Bhimani 120000 360005 Microsoft
Rishi Jalu 75000 360002 Microsoft
The square of 4 is 16
The cube of 4 is 64
The square root of 4 is 2.0
Hello
The Ticket is booked in Train no 23557 from Delhi to Mumbai.
The train no: 23557 is running on time.
Ticket fare for 23557 from Delhi to Mumbai is 2981.

**PRACTICE SET-10 (Inheritance)**

In [ ]:
#2-D & 3-D Vectors
class TwoDVector:
  def __init__(self,i,j):
    self.i = i
    self.j = j

  def show(self):
    print(f'{self.i}i + {self.j}j')

class ThreeDVector(TwoDVector):
  def __init__(self,i,j,k):
    self.i = i
    self.j = j
    self.k = k

  def show(self):
    print(f'{self.i}i + {self.j}j + {self.k}k')

a = TwoDVector(1,2)
a.show()
b = ThreeDVector(1,2,3)
b.show()



#Multilevel Inheritance
class Animals:
 pass

class Pets(Animals):
  pass

class Dogs(Pets):
  def Bark():

    print("BOW BOW")
Dogs.Bark()




#Employee Salary(Decorator)
class Employee:
  salary = 10000
  increment = 20

  @property
  def SalaryAfterIncrement(self):
    return (self.salary + self.salary* (self.increment/100))

  @SalaryAfterIncrement.setter
  def SalaryAfterIncrement(self,salary):
    self.increment = salary/self.salary

e = Employee()
print(e.SalaryAfterIncrement)



#add complex numbers
class complex:
  def __init__(self,r,i):
    self.r = r
    self.i = i

  def __add__(self,c2):
    return complex(self.r+c2.r,self.i+c2.i)

  def __mul__(self, c2):
    real_part = self.r * c2.r - self.i * c2.i
    imag_part = self.r * c2.i + self.i * c2.r
    return complex(real_part, imag_part)

  def __str__(self):
    return f'{self.r} + {self.i}i'

c1 = complex(1,2)
c2 = complex(3,4)
print(c1+c2)
print(c1*c2)

1i + 2j
1i + 2j + 3k
BOW BOW
12000.0
4 + 6i
-5 + 10i

**PRACTICE SET-11 (Advance Python) Part-1**

In [ ]:
# #list comprihension
# l4 = [1,3,5,7,9,11]
# squaredlist = [i*i for i in l4]
# print(squaredlist)


# #list comprihension(Multiplication Table)
# n = int(input("Enter the value"))
# l5 = [n*i for i in range(1,11)]
# print(l5)



# #Exception Handling
# try:
#   f = open('1.txt','r')
#   f1 = f.read()
#   print(f1)
#   f.close
# except Exception as e:
#   print(e)

# try:
#   with open('2.txt','r') as f2:
#     f3 = f2.read()
#     print(f3)
# except Exception as e:
#   print(e)

# try:
#   f4 = open('3.txt','r')
#   f5 = f4.read()
#   print(f5)
#   f4.close
# except Exception as e:
#   print(e)

# print("Thankyou")


# #enumarate function
# l = [0,2,4,6,8,10,12,14]

# for index,l in enumerate(l):
#   if(index==2 or index==4 or index==6):
#     print(f'Index {index} contains {l} value in the list')



#Exception Handling (Zero Division Error)
try:
  a = int(input("Enter a number"))
  b = int(input("Enter a number"))
  print(a/b)
except ZeroDivisionError as z:
  print("infinite")

Enter a number0
Enter a number12
0.0

**PRACTICE SET-12 (Advance Python) Part-2**

In [ ]:
#Filter
def greater(y):
    return y>4

l1 = [1,2,3,4,5,6,7,8,9]
l2 = filter(greater,l1)
print(list(l2))
#or
l3 = filter(lambda y:y>5,l1)
print(list(l3))



#Map
def cube(x):
  return x*x*x

l4 = [1,2,3,4,5]
l5 = map(cube,l4)
print(list(l5))
#or
l6 = map(lambda x:x*x*x,l4)
print(list(l6))



#reduce(Example 1)
from functools import reduce
def add(x,y):
    return x + y

l7 = [1,2,3,4,5,6,7,8,9]
l8 = reduce(add,l7)
print(l8)
#or
l9 = reduce(lambda x,y: x+y,l1)
print(l9)


#reduce(Example 2)
from functools import reduce
def greatest(a,b):
  if(a>b):
    return a
  else:
    return b
l10 = [12,234,12,345,56,4,3,45,56]
l11 = reduce(greatest,l10)
print(l11)



#formating of table
table = [str(7*i) for i in range(1, 11)]
s = "\n".join(table)
print(s)

345
7
14
21
28
35
42
49
56
63
70